/* reset css */

* {
    padding: 0;
    margin: 0;
    background-color: transparent;
    text-align: center;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}

/* desktop mode */

body {
    background-color: #EFEFEF;
}

.main {
    max-width: 960px;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
}

.tiles {
    display: inline-block;
    width: calc(75% - 2px);
}

.tiles-2 {
    display: none;
}

.tile {
    display: inline-block;
    width: 33%;
    font-size: 100px;
    color: #FFFFFF;
    animation: lookAtMeIAmScared 0.5s;
    animation-iteration-count: 1;
}

.tile:hover {
    animation: lookAtMeIAmScared 0.5s;
    animation-iteration-count: infinite;
}

a {
    text-decoration: none;
}

.actionButtons {
    display: inline-block;
    width: calc(25% - 2px);
}

button {
    background-color: #72C3DC;
    border-radius: 4px;
    color: #FFFFFF;
    padding: 5px 10px;
    border: none;
    width: 90%;
    margin: 10px;
    display: block;
    -webkit-box-shadow: 0px 3px 1px #2B8EAD;
    -moz-box-shadow: 0px 3px 1px #2B8EAD;
    box-shadow: 0px 3px 1px #2B8EAD;
}

button:hover {
    animation: lookAtMeIAmScared 0.5s;
    animation-iteration-count: infinite;
    cursor: pointer;
}

header {
    font-weight: bold;
}

footer {
    font-style: italic;
    margin-top: 0.1rem;
}

/* mobile mode */

@media (max-width: 541px) {
    body {
        background-color: #FFFFFF;
    }
    .main, .tiles, .actionButtons {
        display: block;
        width: 100%;
    }
    .tiles-1 {
        display: none;
    }
    .tiles-2 {
        display: block;
    }
    .tile {
        width: 90%;
        font-size: 12px;
        color: #000000;
        height: 2.7rem;
        line-height: 2.7rem;
        margin: 3px;
    }
    button {
        width: 100px;
        display: inline-block;
    }
    header {
        background-color: #333333;
        color: #FFFFFF;
        font-weight: normal;
        height: 2rem;
        padding: 0.9rem 0 0 0;
    }
}

/* fun stuffs ;) */

@keyframes lookAtMeIAmScared {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}
